* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, h3  {
    margin: 0;
}

body {
    font-family: "Playfair Display";
    color: black;
    font-size: 12px;
}

.container {
    max-width: 960px; 
    height: auto;
    margin: auto;
}

/* Header */

.flex {
    display: flex;
    align-items: left;
}

.header {
    width: 100%;
    height: 40px;s
    background-color: white;
    word-spacing: 5px;
}

.header > .logo > img {
    width: 35px;
    padding-left: 5px;
    padding-top: 5px;
}

.header > .logo {
    width: 10%;
}

.main-nav {
    padding: 10px 0px;
}

.main-nav > a {
    text-transform: uppercase; 
}

.header-image {
    margin-bottom: 20px;
}

.header-image > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Categories */
.categories-grid {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(468px, auto); */
}

.grid-item {
    background-color: lightpink;
}

.grid-item-1 {
    grid-column: 1 / 3;
    min-height: 350px;
    margin-bottom: 15px;
    background-image: url(../images/pexels-vennzi-3634366.jpg);
    background-size: 100%;
}

.grid-item-2 {
    grid-column: 1 / 3;
    min-height: 50px;
}

.grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6,
.grid-item-7, .grid-item-8, .grid-item-9, .grid-item-10,
.grid-item-11, .grid-item-12, .grid-item-13, .grid-item-14 {
    min-height: 220px;
}


.grid-item-2-content {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
} 

.grid-item-3 img,  .grid-item-4 img,
.grid-item-5 img,  .grid-item-6 img,
.grid-item-7 img,  .grid-item-8 img,
.grid-item-9 img,  .grid-item-10 img,
.grid-item-11 img,  .grid-item-12 img,
.grid-item-13 img,  .grid-item-14 img
{
    width: 100%;
    height: 220px;
    object-fit: cover; /* not stretching the image */
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -20%;
}

.grid-item-4 .text-wrapper  h2 {
    margin-top: -20%;
}

.text-wrapper h2
{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    text-transform:capitalize;

}

.text-wrapper h3
{
    margin-top: -20px;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.grid-item-4 .text-wrapper h2{
    text-align: center;
    font-size: 25px;
    color: #000000;
}

/* Footer */
.footer {
    width: 80%;
    margin: auto;
    display: flex;
} 

ul {
    padding: 0;
}

.footer-item {
    margin-right: 80px;
}

.footer-item > h3 {
    text-transform: uppercase; 
}

.footer-confianzas-1 {
    display: flex;
}

.footer > .footer-item >.footer-confianzas-1 > img {
    width: 35px;
    margin-left: 15px;
}

.footer > .footer-item >.footer-confianzas-2 > img {
    width: 80px;    
}

.footer-confianzas-2 {
    text-align: center;
}

.footer > .footer-item >.footer-confianzas-3 > img {
    width: 70px;
    margin-left: 15px;    
}

.footer-confianzas-3 {
    display: flex;
}
