* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
h3 {
  margin: 0;
}
li a {
  color: #000000;
}

a:hover {
  color: #dc7480;
}

body {
  font-family: "Playfair Display";
  color: black;
  font-size: 12px;
}

.container {
  max-width: 960px;
  height: auto;
  margin: auto;
}

/* ------------ Header ------------ */

.flex {
  display: flex;
  justify-content: flex-start;
}

.span-font {
  font-size: 45px;
}

.header {
  width: 100%;
  height: 40px;
  background-color: white;
  word-spacing: 5px;
  margin-top: 10px;
}

.header > .logo > a > img {
  width: 35px;
  padding-left: 11px;
  padding-top: 6px;
  margin-left: 45px;
}

.header > .logo {
  width: 10%;
}

.main-nav {
  padding: 10px 0px;
  font-size: 0.6rem;
}

.main-nav > a {
  text-transform: uppercase;
  color: black;
}

.main-nav a:last-child {
  font-weight: bolder;
}

.header-image {
  margin-bottom: 10px;
}

.header-image > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* ----------- Categories -----------*/
.categories-grid {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(468px, auto); */
}

.grid-item {
  background-color: #fbeeef;
}

.grid-item:hover {
  opacity: 0.5;
}

.grid-item-1 {
  grid-column: 1 / 3;
  min-height: 350px;
  margin-bottom: 15px;
  background-image: url(../images/pexels-vennzi-3634366.jpg);
  background-size: 100%;
}

.grid-item-2 {
  grid-column: 1 / 3;
  min-height: 50px;
}

.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6,
.grid-item-7,
.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-11,
.grid-item-12,
.grid-item-13,
.grid-item-14 {
  min-height: 220px;
}

.grid-item-2-content {
  text-align: center;
  color: rgb(255, 255, 255);
}

.grid-item-3 img,
.grid-item-4 img,
.grid-item-5 img,
.grid-item-6 img,
.grid-item-7 img,
.grid-item-8 img,
.grid-item-9 img,
.grid-item-10 img,
.grid-item-11 img,
.grid-item-12 img,
.grid-item-13 img,
.grid-item-14 img {
  width: 100%;
  height: 220px;
  object-fit: cover; /* not stretching the image */
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -25%;
  text-align: center;
  font-size: 18px;
}

.grid-item-4 .text-wrapper h2 {
  margin-top: -20%;
}

.text-wrapper h2 {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  text-transform: capitalize;
}

.text-wrapper h3 {
  margin-top: -20px;
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.grid-item-4 .text-wrapper h2 {
  text-align: center;
  font-size: 25px;
  color: #000000;
}

/* ------------- Footer ---------------*/
.footer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.6rem;
}

ul {
  padding: 0; /* to eliminate indent of item list */
}

.footer-item {
  /*margin-right: 80px;*/
}

.footer-item > h3 {
  text-transform: uppercase;
}

.footer-confianzas-1 {
  display: flex;
}

.footer > .footer-item > .footer-confianzas-1 > img {
  width: 35px;
  margin-left: 15px;
  filter: grayscale(100%);
}

.footer > .footer-item > .footer-confianzas-2 > img {
  width: 80px;
  filter: grayscale(100%);
}

.footer-confianzas-2 {
  text-align: center;
}

.footer > .footer-item > .footer-confianzas-3 > img {
  width: 70px;
  margin-left: 15px;
  filter: grayscale(100%);
}

.footer-confianzas-3 {
  display: flex;
  justify-content: center;
}

/* ------------------- Category Page --------------- */

/* category header image */
.header-image-category {
  margin-bottom: 10px;
}

.header-image-category > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.header-text {
  position: relative;
  margin-top: -200px;
  padding-left: 40px;
}

.header-text h2 {
  font-size: 65px;
  color: aliceblue;
}

/* Label */
.label {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.label a {
  color: grey;
  font-size: 10px;
}

.first-label {
  min-width: 50px;
  height: 20px;
  position: relative;
  background: #fbeeef;
  text-align: center;
  margin-right: 10px;
}

.first-label:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #fbeeef;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.last-label {
  height: 20px;
  position: relative;
  background: #fbeeef;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
}

.last-label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.not-first-label {
  min-width: 150px;
  height: 20px;
  position: relative;
  background: #fbeeef;
  text-align: center;
  vertical-align: middle;
}

.not-first-label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.not-first-label:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #fbeeef;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* Card product */
.card {
  width: 80%;
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
}

.card-content {
  width: 200px;
  height: 350px;
  width: 160px;
  height: 200px;
  /* border: 1px solid black; */
}

.card-content:hover {
  filter: drop-shadow(8px 8px 10px gray);
}

.card-content img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: relative;
}

.card-details {
  text-align: center;
  margin-top: -15%;
}

.card-price {
  display: flex;
  margin-top: -10%;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.card-details > p {
  text-transform: capitalize;
  color: grey;
}

.card-old-price {
  text-decoration: line-through;
  color: grey;
}

.card-new-price {
  color: red;
}

.tag-new-in > img {
  width: 120px;
  height: 120px;
  position: absolute;
  /*border: 1px green solid; */
  filter: grayscale(100%);
  margin-top: -15px;
  margin-left: 66px;
  z-index: 9999; /* logo overlay the image */
}

/*-------------------- F.A.Q Page --------------------------*/

/* ---f.a.q header title--- */
.faq-header {
  width: 100%;
  height: 60px;
}

.faq-header p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* ---f.a.q header image--- */
.faq-header-image > img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.faq-header-text {
  position: relative;
  margin-top: -240px;
  width: 400px;
  margin-left: 250px;
}

.faq-header-text h2 {
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

/* FAQ Content */

.faq-container {
  width: 75%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 40px;
}

.faq-content {
  display: flex;
  margin-bottom: 10px;
}

.faq-content-logo {
  width: 30px;
  padding-top: 15px;
}

.Layer_1 {
  height: 25px;
}

.path-faq {
  fill: green;
}

.faq-question {
  width: 200px;
  padding-right: 10px;
}

.faq-answer {
  width: 550px;
  margin-bottom: 20px;
  margin-left: 0;
  border-left: 2px solid green;
  padding-left: 30px;
}

.faq-question p {
  text-transform: uppercase;
  font-weight: bold;
}

.faq-answer p {
  font-size: 10px;
}

/*-------------------- Product Page ------------------------*/

.product-description {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.h1-product-title {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-color: lightgrey;
  border-top-style: solid;
}

.header-section {
  text-align: center;
  margin: 0 auto;
}

.product-images {
  width: 35%;
}

.ul-product-active-page {
  display: inline-flex;
  justify-content: center;

  margin: 12px auto;
  width: 100%;
}

.ul-product-active-page li {
  margin: 0px 10px 0px 0px;
  padding-top: 1px;
  color: gray;
  padding: 1px 7px 0px 20px;
  min-width: fit-content;
}

.ul-product-options li h3 {
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.product-old-price,
.product-current-price {
  font-size: 1rem;
}

.ul-product-options li {
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  list-style-type: "\2b";
  color: black;
  font-weight: bold;
}

.h2-product-title {
  text-transform: uppercase;
  text-align: center;
}
.h3-products {
  text-transform: uppercase;
  color: gray;
}

.footer-product {
  width: 100%;
}

.text-product-description {
  font-weight: 400;
  margin-bottom: 10px;
}

/*.ul-other-finishes h3,
.ul-details>h3*/

.ul-details li {
  list-style: disc;
  margin-left: 14px;
}

.product-pricing {
  font-size: 0.63rem;
}

.product-other-images {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.product-actual-image img,
.product-other-image img {
  width: 65px;
}

.product-made-in {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.product-made-in li {
  width: 60px;
  text-align: center;
  opacity: 0.6;
}

.product-made-in li p {
  font-size: 0.6rem;
  color: gray;
}
.product-made-in li img {
  height: 35px;
}

.product-actual-image,
.product-other-image {
  margin-right: 10px;
}

.ul-product-other-finishes {
  display: inline-flex;
  justify-content: flex-start;
  align-content: stretch;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*Image product size*/
.ul-product-other-finishes li img {
  width: 65px;
}

.product-selected-image img {
  width: 360px;
}

.product-selected-image {
  margin-bottom: 10px;
}

.product-button-wrapper {
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
}

.product-cart-button {
  margin-bottom: 10px;
  background-color: #dc7480;
  width: 100%;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 0px 3px lightgrey;
  padding: 10px;
  border: none;
}

.carousel-products-div {
  display: flex;
  justify-content: space-around;
}

.carousel-other-products-section {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.product-carousel-prev-icon {
  position: relative;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-carousel-prev-icon svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.prev-icon.carousel {
  height: 200px;
}
.previous {
  left: 10px;
}

.arrow {
  fill: gray;
}

/* Enlarge image with hover */
.product-selected-image:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.product-actual-image:hover,
.product-other-image:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2); 
}
